.song-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.74);
}

.song-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 100px;
}


img {
    border-radius: 50%;

}

body {
    text-align: center; 
    background-color: rgba(128, 128, 128, 0.274);
}

.track-title {
    padding: 2px;
}

.band-name {
    padding: 0px;
}

#music-input {
    padding: 10px;
    margin: 60px;
    margin-bottom: 15px;
    border-radius: 25px;
}

.search {
    background-color: black;
    color: white;
    margin-bottom: 75px;
}

.clear {
    background-color: white;
    color: black;
    margin-bottom: 75px;
}


.search:hover {
    background-color: rgb(59, 58, 58);
}
.clear:hover {
    background-color: rgb(198, 224, 236);
}