* {
    background-color: rgb(209, 207, 207);
}

.song-card {
    display: flex;
    flex-wrap: wrap;
}


img {
    border-radius: 50%;
    width: 150px;
}

body {
    text-align: center; 
}

.track-title {
    padding: 10px;
}


#music-input {
    padding: 10px;
    margin: 60px;
    margin-bottom: 15px;
    border-radius: 25px;
}

.search {
    background-color: black;
    color: white;
    margin-bottom: 75px;
}

.clear {
    background-color: white;
    color: black;
    margin-bottom: 75px;
}


.search:hover {
    background-color: rgb(59, 58, 58);
}
.clear:hover {
    background-color: rgb(198, 224, 236);
}